<!DOCTYPE html>
<html>

<head>
  <title>ITU CE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container nav-alpi">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid nav-alt-alpi">
        <div class="navbar-header">
          <a class="navbar-brand">Alperen ÜGÜŞ</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#home" (click)="routeChanged('home-en')"><u>Home</u></a></li>
          <li><a href="#notes" (click)="routeChanged('notes-en')"><u>Course Notes</u></a></li>
          <li><a href="#links" (click)="routeChanged('links-en')"><u>Useful Links</u></a></li>
          <li><a href="#faq" (click)="routeChanged('faq-en')"><u>FAQ</u></a></li>
          <li><a href="#linkler" (click)="routeChanged('links')"><u>Türkçe</u></a></li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="jumbotron">
      <img class="itu-logo center" src="./assets/images/links.png">
      <h1 class="display-4">Useful Links</h1>
    </div>
  </div>


  <div class="container">
    <div class="list-group">
      <a href="https://stackoverflow.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Stack Overflow</h4>
        <p class="list-group-item-text">Stack Overflow is the largest, most trusted online community for developers to learn,
          share​ ​their programming ​knowledge, and build their careers.</p>
      </a>
      <a href="https://ocw.mit.edu/index.htm" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">MIT Open Courseware</h4>
        <p class="list-group-item-text">MIT OpenCourseWare is a web-based publication of virtually all MIT course content.
          OCW is open and available to the world and is a permanent MIT activity.
        </p>
      </a>
      <a href="https://www.udemy.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Udemy</h4>
        <p class="list-group-item-text">Udemy is an online learning and teaching marketplace with over 80,000 courses and
          24 million students. Learn programming, marketing, data science and more.
        </p>
      </a>
      <a href="https://www.coursera.org/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Coursera</h4>
        <p class="list-group-item-text">Learn online and earn valuable credentials from top universities like Yale, Michigan,
          Stanford, and leading companies like Google and IBM.
        </p>
      </a>
      <a href="http://libgen.io/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Library Genesis</h4>
        <p class="list-group-item-text">Library Genesis or LibGen is a search engine for articles and books on various topics.
        </p>
      </a>
      <a href="https://www.hackerrank.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">HackerRank</h4>
        <p class="list-group-item-text">HackerRank is a place where programmers from all over the world come together to
          solve problems in a wide range of Computer Science domains such as algorithms, machine learning, or artificial
          intelligence, as well as to practice different programming paradigms like functional programming.
        </p>
      </a>
      <a href="https://www.codewars.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Codewars</h4>
        <p class="list-group-item-text"> Codewars is where developers achieve code mastery through challenge.
        </p>
      </a>
      <a href="http://notkutusu.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Not Kutusu</h4>
        <p class="list-group-item-text"> Not Kutusu is a course notes sharing project that is designed by helpful people
          who are also students in our department.
        </p>
      </a>
      <a href="https://www.youtube.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Youtube</h4>
        <p class="list-group-item-text"> Youtube Channels:<br>
          <a href="https://www.youtube.com/user/thenewboston" target="_blank">thenewboston</a><br>
          <a href="https://javabrains.io/" target="_blank">JavaBrains</a><br>
          <a href="https://www.youtube.com/user/Computerphile" target="_blank">Computerphile</a><br>
          <a href="https://www.youtube.com/user/crashcourse" target="_blank">Crash Course</a><br>
          <a href="https://www.youtube.com/channel/UCkkgrhDCJheXQNIFqUVw0_g" target="_blank">Bilgisayar Kavramları</a><br>


        </p>
      </a>
    </div>
  </div>




  <div class="container social-alpi">
    <a href="https://tr.linkedin.com/in/alperenugus" target="_blank" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/alperen_ugus" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/ugusalperen" target="_blank" class="fa fa-facebook"></a>
  </div>
</body>

</html>