<!DOCTYPE html>
<html>

<head>
  <title>ITU CE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container nav-alpi">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid nav-alt-alpi">
        <div class="navbar-header">
          <a class="navbar-brand">Alperen ÜGÜŞ</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#home" (click)="routeChanged('home-en')"><u>Home</u></a></li>
          <li><a href="#notes" (click)="routeChanged('notes-en')"><u>Course Notes</u></a></li>
          <li><a href="#links" (click)="routeChanged('links-en')"><u>Useful Links</u></a></li>
          <li><a href="#faq" (click)="routeChanged('faq-en')"><u>FAQ</u></a></li>
          <li><a href="#sss" (click)="routeChanged('faq')"><u>Türkçe</u></a></li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="jumbotron">
      <img class="itu-logo center" src="./assets/images/sss.png">
      <h1 class="display-4">Frequently Asked Questions</h1>
    </div>
  </div>


  <div class="container">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">Course Selection</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">A new student who will begin his/her undergraduate program is automatically enrolled to
            the courses by the registrar's office once. For other terms, the student is expected to prepare his/her own program.
            Every course has a code called CRN and before course selections, the classes which will be available, their schedules
            and quota will be announced in <a href="http://www.sis.itu.edu.tr/" target="_blank">ITU Registrar's Office.</a>
            When the enrollment time comes, the students enter the CRN codes of the courses in their programs in the page 'Student Service/Registration/Add/Drop
            Classes', and if they provide the prerequisites of the courses and if the courses have enough quota, the students
            will be enrolled to the courses by the system. Do not forget that the system clock differs from the real one
            by 1,5-2 minutes. Easy to guess, there are averagely 7-8 CRN codes and entering them by hand takes a lot of time.
            For this purpose, <a href="https://ituscheduler.com/" target="_blank">İTÜ-Scheduler</a> is created by ITU students. In this process, to learn about the courses you
            have to pass or if they have prerequisites and time schedule, you should go to the links below and look for them:<br>
            <a href="http://www.sis.itu.edu.tr/tr/dersplan/index.php?fakulte=BB" target="_blank">ITU Comp. Eng. Course Programs</a><br>
            <a href="http://www.sis.itu.edu.tr/tr/akademik_takvim/" target="_blank">ITU Academic Calendar</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2">Internship</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            In order to be able to graduate from ITU Computer Engineering, it is compulsory to be an intern for 40 work-days that consists
            of two internship programs of 20 work-days. The university suggests students to do internship in the summers
            of second and third year. According to my experience, a first year student just takes the pool courses and one
            or two departmentental courses therefore the student does not have enough knowledge to be a part of a real project.
            Moreover, companies prefer third and fourth year students to continue with them after graduation. In my opinion,
            an undergraduate student should do internship by converting his/her theoretical knowledge into practical one.
            My own internship changed my whole perspective to the department and being a part of a real project refreshed
            my self-esteem. <br> Anything about the internship is on
            <a href="https://portal.itu.edu.tr/" target="_blank">ITU-Portal</a>. I suggest you to read internship guidelines
            carefully.
          </div>
        </div>
      </div>
    </div>

    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3">English</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">A few books that can be helpful to enhance your English Proficiency: <br>
            <a href="https://drive.google.com/open?id=0B9GjhTKu_Le5bnBwT2VwOHpCZVk" target="_blank">TOEFL-SAT Books</a>
          </div>
        </div>
      </div>
    </div>


  </div>




  <div class="container social-alpi">
    <a href="https://tr.linkedin.com/in/alperenugus" target="_blank" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/alperen_ugus" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/ugusalperen" target="_blank" class="fa fa-facebook"></a>
  </div>
</body>

</html>