<!DOCTYPE html>
<html>

<head>
  <title>ITU CE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container nav-alpi">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid nav-alt-alpi">
        <div class="navbar-header">
          <a class="navbar-brand">Alperen ÜGÜŞ</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#anasayfa" (click)="routeChanged('home')"><u>Anasayfa</u></a></li>
          <li><a href="#notlar" (click)="routeChanged('notes')"><u>Ders Notları</u></a></li>
          <li><a href="#linkler" (click)="routeChanged('links')"><u>Faydalı Linkler</u></a></li>
          <li><a href="#sss" (click)="routeChanged('faq')"><u>Sık Sorulan Sorular</u></a></li>
          <li><a href="#notes" (click)="routeChanged('notes-en')"><u>English</u></a></li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="jumbotron">
      <img class="itu-logo center" src="./assets/images/comp_eng.png">
      <h1 class="display-4">Ders Notları</h1>


    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1XvgPqzjuu6EbW3F-kJFHszp5g5cwNZ8A" target="_blank">
            <img src="./assets/images/ataturk.png" alt="ATA" style="width:50%">
            <div class="caption">
              <p><b>ATA</b></p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=14ggTtI_9dKDQ49KnPukloSr-XSc8K09z" target="_blank">
            <img src="./assets/images/bil.png" alt="BIL" style="width:50%">
            <div class="caption">
              <p><b>BIL</b></p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1AApPgz-wWbqMU6FfsSHXJ0gKL_1vRrmP" target="_blank">
            <img src="./assets/images/blg.png" alt="BLG" style="width:50%">
            <div class="caption">
              <p><b>BLG</b></p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1rAXGtAaHDbxX5T0tQzy6wWic2v02LBk2" target="_blank">
            <img src="./assets/images/ehb.png" alt="EHB" style="width:50%">
            <div class="caption">
              <p><b>EHB</b></p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1q5I2YPCfGfS-P7w4QSk8VdD7q1ofxrnn" target="_blank">
            <img src="./assets/images/eko.png" alt="EKO" style="width:50%">
            <div class="caption">
              <p><b>EKO</b></p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1KxF9umaUHicM4cq2Xmr-6WL5gW1a8Ogs" target="_blank">
            <img src="./assets/images/fra.png" alt="FRA" style="width:50%">
            <div class="caption">
              <p><b>FRA</b></p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1lLWyHaPNEKPFoir2UxvkuWEDxpf6FBM2" target="_blank">
            <img src="./assets/images/huk.png" alt="HUK" style="width:50%">
            <div class="caption">
              <p><b>HUK</b></p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1APf9HGD2E2jg-E6kZDXwx7Lp5bp7oFax" target="_blank">
            <img src="./assets/images/ing.png" alt="ING" style="width:50%">
            <div class="caption">
              <p><b>ING</b></p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=18QM9O_XKFAmEEugZnooB233c60hhWfnh" target="_blank">
            <img src="./assets/images/itb.png" alt="ITB" style="width:50%">
            <div class="caption">
              <p><b>ITB</b></p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://drive.google.com/open?id=19OnaYeex-pC8_TuqYkhbM9TwPxHqFrj1" target="_blank">
                <img src="./assets/images/mal.png" alt="MAL" style="width:50%">
                <div class="caption">
                  <p><b>MAL</b></p>
                </div>
              </a>
            </div>
          </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1odWy67sRx1cqV_-fshrjRMS6Sre5RJi4" target="_blank">
            <img src="./assets/images/mat.png" alt="MAT" style="width:50%">
            <div class="caption">
              <p><b>MAT</b></p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="https://drive.google.com/open?id=1wpV0ccyFilxuOzicT2g1lXG1qmCaePor" target="_blank">
            <img src="./assets/images/tur.png" alt="TUR" style="width:50%">
            <div class="caption">
              <p><b>TUR</b></p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
              <a href="https://drive.google.com/open?id=1wi_MNEOYQOtwghypSg7XMO3HsWkFvEEP" target="_blank">
                <img src="./assets/images/int.png" alt="INT" style="width:50%">
                <div class="caption">
                  <p><b>Staj</b></p>
                </div>
              </a>
            </div>
          </div>
    </div>


  </div>



  <div class="container social-alpi">
    <a href="https://tr.linkedin.com/in/alperenugus" target="_blank" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/alperen_ugus" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/ugusalperen"   target="_blank" class="fa fa-facebook"></a>
  </div>
</body>

</html>