<!DOCTYPE html>
<html>

<head>
  <title>ITU CE</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container nav-alpi">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid nav-alt-alpi">
        <div class="navbar-header">
          <a class="navbar-brand">Alperen ÜGÜŞ</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#anasayfa" (click)="routeChanged('home')"><u>Anasayfa</u></a></li>
          <li><a href="#notlar" (click)="routeChanged('notes')"><u>Ders Notları</u></a></li>
          <li><a href="#linkler" (click)="routeChanged('links')"><u>Faydalı Linkler</u></a></li>
          <li><a href="#sss" (click)="routeChanged('faq')"><u>Sık Sorulan Sorular</u></a></li>
          <li><a href="#links" (click)="routeChanged('links-en')"><u>English</u></a></li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="container">
    <div class="jumbotron">
      <img class="itu-logo center" src="./assets/images/links.png">
      <h1 class="display-4">Faydalı Linkler</h1>
    </div>
  </div>


  <div class="container">
    <div class="list-group">
      <a href="https://stackoverflow.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Stack Overflow</h4>
        <p class="list-group-item-text">Stack Overflow, dünya genelinde uzman veya başlangıç, her seviyeden geliştiricinin
          olduğu çok büyük bir topluluktur. Birçok sorunuzun cevabının bu sitede olduğuna emin olabilirsiniz. </p>
      </a>
      <a href="https://ocw.mit.edu/index.htm" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">MIT Open Courseware</h4>
        <p class="list-group-item-text">MIT Open Courseware, MIT'de verilen derslerin video şeklinde online olarak bütün
          dünyanın hizmetine sunulduğu eşsiz bir paylaşımdır.
        </p>
      </a>
      <a href="https://www.udemy.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Udemy</h4>
        <p class="list-group-item-text">Udemy, bir online eğitim platformu olup, içerisinde hemen her dalda eğitim videoları
          barındıran bir sitedir.
        </p>
      </a>
      <a href="https://www.coursera.org/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Coursera</h4>
        <p class="list-group-item-text">Coursera, Udemy ile benzer içerikte bir online eğitim platformudur.
        </p>
      </a>
      <a href="http://libgen.io/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Library Genesis</h4>
        <p class="list-group-item-text">Library Genesis, dünyanın en büyük e-kitap veri tabanlarından biridir. Ders kitapları
          veya yardımcı kaynaklar için başvurabilirsiniz.
        </p>
      </a>
      <a href="https://www.hackerrank.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">HackerRank</h4>
        <p class="list-group-item-text">HackerRank, kod pratiği yapabileceğiniz, zaman zaman algoritma yarışmaları düzenleyen
          bir platformdur.
        </p>
      </a>
      <a href="https://www.codewars.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Codewars</h4>
        <p class="list-group-item-text"> Codewars da HackerRank ile benzer bir platformdur.
        </p>
      </a>
      <a href="http://notkutusu.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Not Kutusu</h4>
        <p class="list-group-item-text"> Not Kutusu, bölümümüzdeki birkaç arkadaşımız tarafından tasarlanmış bir projedir. Burada
          da İTÜ öğrencileri için ortak bir ders notu havuzu bulunmaktadır.
        </p>
      </a>
      <a href="https://www.youtube.com/" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Youtube</h4>
        <p class="list-group-item-text"> Youtube Kanalları:<br>
          <a href="https://www.youtube.com/user/thenewboston" target="_blank">thenewboston</a><br>
          <a href="https://javabrains.io/" target="_blank">JavaBrains</a><br>
          <a href="https://www.youtube.com/user/Computerphile" target="_blank">Computerphile</a><br>
          <a href="https://www.youtube.com/user/crashcourse" target="_blank">Crash Course</a><br>
          <a href="https://www.youtube.com/channel/UCkkgrhDCJheXQNIFqUVw0_g" target="_blank">Bilgisayar Kavramları</a><br>
          

        </p>
      </a>
    </div>
  </div>




  <div class="container social-alpi">
    <a href="https://tr.linkedin.com/in/alperenugus" target="_blank" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/alperen_ugus" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/ugusalperen"   target="_blank" class="fa fa-facebook"></a>
  </div>
</body>

</html>